
  <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet"> -->

  <div class ="center"><h1 class="title">About us that is Awsome.</h1></div>

<div class="space"></div>
<!-- start Interest section -->
<div class="container-fluid">
<section class="Andres Reyes">
    <div class="container-fluid row">
      <div class="col-md-6">
        <div class="interest-images1">
        </div>
      </div>
      <div class="col-md-6">


      <h2 class="abc">Name:</h2>
      <h3 class="dfg">Andres Reyes</h3>
      <div class="space2"></div>
      <h2 class="abc">Quick Bio:</h2>
      <h3 class="dfg">I live out in the countery, My hobby is Drawing, and I love to Play video games, watch Anime, and ejoy watching Pro Wrestilng.</h3>
      <div class="space2"></div>
      <h2 class="abc">Goals:</h2>
      <h3 class="dfg">To Acomplish Bitwsie/Geekwise and hopefully one day tranfer to Fresno City Collage.</h3>
      <div class="space2"></div>
      <h2 class="abc">Favorite Pet:</h2>
      <h3 class="dfg">German Shepherd. Because there so cute when there puppies when and they grow up they gard your homes/property.</h3>
    </div>
  </div>

</section>

<!-- end Interest section -->
<div class="space"></div>
<!-- start Interest section -->
<section class="yuki">
    <div class="container-fluid row">
      <div class="col-md-6">
        <div class="interest-images3">
        </div>
      </div>
      <div class="col-md-6">

      <h2 class="abc">Name:</h2>
      <h3 class="dfg">Hiroyuki "Hero" Xiong</h3>
      <div class="space2"></div>
      <h2 class="abc">Quick Bio:</h2>
      <h3 class="dfg">I moved a lot throughout my life but never away from the central valley. On my free time I like to take naps and exhaust my phone's battery with mobile games.</h3>
      <div class="space2"></div>
      <h2 class="abc">Future Goals:</h2>
      <h3 class="dfg">I want to further pursue tech and fortunately land a promising job.</h3>
      <div class="space2"></div>
      <h2 class="abc">Favorite Pet:</h2>
      <h3 class="dfg">I do not own a pet of my own because I lack the responsibility to nuture it, but if I do I would like a cat.</h3>
    </div>
  </div>

</section>

<!-- end Interest section -->
<div class="space"></div>
<!-- start Interest section -->
<section class="jacque">
    <div class="container-fluid row">
      <div class="col-md-6">
        <div class="interest-images2">
        </div>
      </div>
      <div class="col-md-6">

      <h2 class="abc">Name:</h2>
      <h3 class="dfg">Jacque S.</h3>
      <div class="space2"></div>
      <h2 class="abc">Quick Bio:</h2>
      <h3 class="dfg">My name is Jacque and my goal is to give all loving animals a home to call their own.</h3>
      <div class="space2"></div>
      <h2 class="abc">Future Goals:</h2>
      <h3 class="dfg">Give all our pets in our database a home by the end of the year.</h3>
      <div class="space2"></div>
      <h2 class="abc">Favorite Pet:</h2>
      <h3 class="dfg">My favorite pet would have to be dogs; specifically my dog - bestfriend - Smeagol. he is a great dane, and the biggest baby. I adore him very much!</h3>
    </div>
  </div>

</section>

<!-- end Interest section -->
<div class="space"></div>
<!-- start Interest section -->
<section class="Austin">
    <div class="container-fluid row">
      <div class="col-md-6">
        <div class="interest-images">
        </div>
      </div>
      <div class="col-md-6">

      <h2 class="abc">Name:</h2>
      <h3 class="dfg">Austin Verburg</h3>
      <div class="space2"></div>
      <h2 class="abc">Quick Bio:</h2>
      <h3 class="dfg">I live in San Diego. I like to draw and play video games.</h3>
      <div class="space2"></div>
      <h2 class="abc">Future Goals:</h2>
      <h3 class="dfg">I'd like to publish a video game someday. Or be an ice cream truck driver.</h3>
      <div class="space2"></div>
      <h2 class="abc">Favorite Pet:</h2>
      <h3 class="dfg">I love all my doggies equally.</h3>
    </div>
  </div>

</section>
</div>
<!-- end Interest section -->
<!-- 

</body>
</html> -->
