<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Foster Pets</h1>
    <p class="lead">Providing you fur babies to take home.</p>
    <p class= "text-right">Ready to adopt?</p>
    <p class="lead text-right">
      <a class="btn btn-default btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <div class="row">
    <section class="col about"> <!-- Begin AboutSection -->
      <h3 class="cen">We're dedicated to making sure you can find the perfect pet to take home by providing you with details of your desired breed, pet habits, and history of your to be furry family member.</h3>
    </section>
  </div>
  <div id="section_a"> <!-- this will contain three columns, in which all have different choices -->

    <div class="row pad">
      <div class="col cen"> <!-- contact -->
        <div class="border_special">
          <a routerLink="/about">
            <h4>About Us</h4>
            <i class="fa fa-envelope fa-5x i_fix" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col cen"><!-- sign up/log in -->
        <div class="border_special">
          <h4>Sign Up</h4>
          <i class="fa fa-user-plus fa-5x i_fix" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col cen"> <!-- pet database -->
        <a routerLink="/petbio">
          <div class="border_special">
            <h4>Our Pets!</h4>
            <i class="fa fa-paw fa-5x i_fix" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
  </div> <!-- end of three columns -->
  <hr class="my-4">
  <!-- BEGIN PICS -->
  <h2 class= "cen">Our Pets of The Week</h2>

</div>
